<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Genres</title>
    <link rel="stylesheet" href="/adminGenre.css">
</head>
<body>
    <div id="nav">
        <a href="/admin">Movies in database</a>
        <a href="/adminMovies">Add Movies</a>
        <a href="/showArtists">Artists in Database</a>
        <a href="/addArtists">Add Artists in Database</a>
        <a href="/adminGenre">Genres in Database</a>
        <a href="/adminMovieGenre">Link Movies with Genres </a>
        <a href="/adminMovieArtist">Link Movies with Artists</a>
        <!--<form id='search' action="/search">
            <input type="text" placeholder="Search Movies">
            <button type="submit">Go</button>
        </form>-->
        <form id="login" action="/logout" method="post">
            <button id="loginbuttton" type="submit">Logout</button>
        </form>        
    </div>
    <div id="main">
        
    <div id="addGenres">
        <h2>Add Genres</h2>
        <form action="/addGenres" method="post">
            <label for="genreName">Genre Name : </label>
            <input type="text" name="genreName" id="" required>
            <button type="submit">Go</button>
            
        </form>
    </div>
    <div id="genre_database">
        <h2>Genres in Database</h2>
        <div id="genre">
            <% if (locals.genresInDB && locals.genresInDB.length>0){ %>
                <table>
                    <thead>
                        <tr>
                            <th>Genre Id</th>
                            <th>Genre Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% genresInDB.forEach(genre =>{ %>
                            <tr>
                                <td><%= genre.GENRE_ID %></td>
                                <td><%= genre.GENRE_NAME %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No genres in the table currently</p>
            <% } %>
        </div>

    </div>
    <% if (locals.message) { %>
        <script>
            alert("<%=message%>");
        </script>
    <% } %>
    </div>
</body>
</html>