<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/adminMovieGenre.css">
</head>
<body>
        <div id="nav">
            <a href="/admin">Movies in database</a>
            <a href="/adminMovies">Add Movies</a>
            <a href="/showArtists">Artists in Database</a>
            <a href="/addArtists">Add Artists in Database</a>
            <a href="/adminGenre">Genres in Database</a>
            <a href="/adminMovieGenre">Link Movies with Genres </a>
            <a href="/adminMovieArtist">Link Movies with Artists</a>
            <!--<form id='search' action="/search">
                <input type="text" placeholder="Search Movies">
                <button type="submit">Go</button>
            </form>-->
            <form id="login" action="/logout" method="post">
                <button id="loginbuttton" type="submit">Logout</button>
            </form>        
        </div>
        <div id="main">
        <div id="page1">
    <div id="linkgenres">
        <h2>Link Genres to Movies</h2>
        <div id="form">
            <form action="/adminMovieGenre" method="post">
                <label for="genreId">Enter Genre ID:</label>
                <input type="number" name="genreId" id="" required>
                <label for="movieId">Enter Movie ID:</label>
                <input type="number" name="movieId" id="" required>
                <button type="submit">Go</button>
            </form>
        </div>
        <h2>Showing Movie_Genres</h2>
        <div id="table">
            <% if (locals.movieGenres && locals.movieGenres.length>0) {%>
            <table>
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <% movieGenres.forEach(movieGenre =>{ %>
                        <tr>
                            <td><%= movieGenre.TITLE %></td>
                            <td><%= movieGenre.GENRE_NAME %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <p>
                    No table to show
                </p>
            <% } %>
        </div>
    </div>
    <% if (locals.message){ %>
        <script>
            alert("<%=message%>");
        </script>
    <% } %>
        </div>
    </div>
</body>
</html>