<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminMovies</title>
    <link rel="stylesheet" href="/adminMovies.css">
</head>
<body>
    <div id="nav">
        <a href="/admin">Movies in database</a>
        <a href="/adminMovies">Add Movies</a>
        <a href="/showArtists">Artists in Database</a>
        <a href="/addArtists">Add Artists in Database</a>
        <a href="/adminGenre">Genres in Database</a>
        <a href="/adminMovieGenre">Link Movies with Genres </a>
        <a href="/adminMovieArtist">Link Movies with Artists</a>
        <!--<form id='search' action="/search">
            <input type="text" placeholder="Search Movies">
            <button type="submit">Go</button>
        </form>-->
        <form id="login" action="/logout" method="post">
            <button id="loginbuttton" type="submit">Logout</button>
        </form>        
    </div>
    <div id="main">
        <div id="page1">
    <div id="addmovie">
    <h1>Add Movies</h1>
    <form action="/addMovie" method="post">
        <label for="title">Movie Name : </label>
        <input type="text" name="title" id="" required>
        <label for="releaseDate">Release Date (YYYY-MM-DD) : </label>
        <input type="text" name="releaseDate"
            pattern="\d{4}-\d{2}-\d{2}" required>
        <label for="synopsis">Synopsis : </label>
        <input type="text" name="synopsis" id="" required>
        <label for="runtime">Runtime (0h 00m) : </label>
        <input type="text" name="runtime" id="" required>
        <label for="imdbRating"> IMDB Rating (0.0/10) : </label>
        <input type="text" name="imdbRating" id=""required>
        <label for="movieImgUrl">Movie Image Url : </label>
        <input type="text" name="movieImgUrl" id="" required>
        <label for="movieLang"> Movie Language : </label>
        <input type="text" name="movieLang" id="" required>
        <button type="submit">Go</button>

    </form>
</div>
<% if (locals.message) {%>
    <script>
        alert("<%=message%>")
    </script>
<% } %>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>