<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="/explore.css">
</head>
<body>
    <div id="nav">
        <a href="/home">Home</a>
        <a href="/watchlist">WatchList</a>
        <a href="/completed">Completed</a>
        <a href="/reviews">Reviews</a>
        <a href="/community">Community</a>
        <a href="/genres">Genres</a>
        <form id='search' action="/search">
            <input type="text" placeholder="Search Movies" name="Movies">
            <button type="submit">Go</button>
        </form>
        <form id="login" action="/logout" method="post">
            <button id="loginbuttton" type="submit">Logout</button>
        </form>        
    </div>
    <div id="main">
        <div id="page1">
    <div id="moviedetails">
        <h1> Searched Movies </h1>
        <% if(locals.searchedMovies && locals.searchedMovies.length>0){ %>
            <% searchedMovies.forEach(Movie =>{ %>
                <div id="image">
                    <img src="<%=Movie.MOVIE_IMAGE_URL%>" alt="">
                </div>
                <div id="movietitle"> <a href="/movie/<%= Movie.MOVIE_ID %>"><%=Movie.TITLE%></a></div>
            <% }); %>
        <% } else{ %>
            <p>No such Movies Available</p>
        <% } %>    
    </div>
    
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/home.js"></script>
</body>
</html>