<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists In DB</title>
    <link rel="stylesheet" href="/showArtists.css">
</head>
<body>
    <div id="nav">
        <a href="/admin">Movies in database</a>
        <a href="/adminMovies">Add Movies</a>
        <a href="/showArtists">Artists in Database</a>
        <a href="/addArtists">Add Artists in Database</a>
        <a href="/adminGenre">Genres in Database</a>
        <a href="/adminMovieGenre">Link Movies with Genres </a>
        <a href="/adminMovieArtist">Link Movies with Artists</a>
        <!--<form id='search' action="/search">
            <input type="text" placeholder="Search Movies">
            <button type="submit">Go</button>
        </form>-->
        <form id="login" action="/logout" method="post">
            <button id="loginbuttton" type="submit">Logout</button>
        </form>        
    </div>
    <div id="main">
    <div id="artist">
        <h1>Artists in Database</h1>
        <div id="table">
            <% if (locals.artistsInDB && locals.artistsInDB.length>0){ %>
                <table>
                    <thead>
                        <tr>
                            <th>Artist ID </th>
                            <th>Artist Name </th>
                            <th>Gender</th>
                            <th>Profession</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% artistsInDB.forEach(artist =>{ %>
                            <tr>
                                <td><%= artist.ARTIST_ID %></td>
                                <td><%= artist.ARTIST_NAME %></td>
                                <td><%= artist.GENDER %></td>
                                <td><%= artist.ROLE %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No Artists in the Database currently</p>
            <% } %>
        </div>
    </div>
   </div> 
   <script src="/movie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>